/*** Project Meta ***/

/* general - line __ */

/* header - line __ */

/* main content - line __ */

/* footer - line __ */

/** GENERAL **/

.reset * {
  margin: 0;
  padding: 0;
  border: 0;
}

.html {
	/* font-family: ARS Maquette, Helvetica Neue, Arial, sans-serif; */
  font-size: 87.5%;
  scroll-behavior: smooth;
}

.body {
  background-color: #f4f5f6;
}

.content {
	max-width: 1310px;
}

.offscreen {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* Mobile View */

.header1 {
	background-color: #f72210;
	padding: 0.8rem;
}

.nlogo {
	width: 131.87px;
}

.location {
	font-size: 0.8571rem;
}

.weather-icon {
	width: 1.5714rem;
}

.register > *{
	margin-left: 0.7143rem;
}

.login {
	width: 2rem;
}

.fa-bars {
	color: #fdc7c3;
}

.btn-warning {
	padding: 0.2rem 0.4rem;
	font-size: 0.8571rem;
	/* font-family: "roboto condensed" "sans-serif"; */
}

/* main/content */

.main {
	/* padding: 1.4286rem 1.0714rem 0 1.0714rem; */
	padding: 1.4286rem 0 0 0;
}

.logo-img {
  width: 395px;
  height: auto;
}

.logo-img-2 {
  width: 132px;
}

.img-thumbnail {
  width: 63px;
}

.debate a,
.opinion a {
  color: black;
  font-size: 1rem;
  font-weight: bold;
}

.font-size-heading {
	font-size: 1.1rem;
}

.versus {
	top: -15px;
	left: 47%;
}

.horizontal-rule {
	padding-bottom: 2px;
}

.grid {
	display: grid;
	grid-auto-rows: auto;
	grid-gap: 1.4286rem;
}

.card {
	width: 100%;
}

.form-img {
	background-color: #f72210;
	width: 29px;
	height: 29px;
}

.form .form-input[placeholder ='Email Address'] {
	padding-left: 10px;
}

.form-button {
	background-color: #f72210;
}


@media screen and (max-width: 767px){
	.form {
		width: 100%;
		max-width: 300px;
		margin: 0 auto;
	}
}

@media screen and (min-width: 768px) {
	.grid {
		grid-template-columns: repeat(3, 1fr);
	}

	.more-featured-stories {
		width: 45%;
	}

	.form {
		width: 90%;
		/* margin: 0 auto; */
	}
}

@media screen and (min-width: 992px) {
	.main {
		padding: 1.4286rem 1.0714rem 0 1.0714rem;
	}

	.more-featured-stories {
		width: 100%;
	}

	.form {
		width: 100%;
	}

	.form .form-title {
		font-size: 1.1rem;
	}
}