/*** Project Meta ***/

/* general - line __ */

/* header - line __ */

/* main content - line __ */

/* footer - line __ */

/** GENERAL **/

.reset * {
  margin: 0;
  padding: 0;
  /* border: 0; */
}

.html {
	/* font-family: ARS Maquette, Helvetica Neue, Arial, sans-serif; */
  font-size: 87.5%;
  scroll-behavior: smooth;
}

.body {
  background-color: #f4f5f6;
}

.content {
	max-width: 1310px;
}

.offscreen {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* Mobile View */

.header1 {
	background-color: #f72210;
	padding: 0.8rem;
}

.nlogo {
	width: 131.87px;
}

.location {
	font-size: 0.8571rem;
}

.weather-icon {
	width: 1.5714rem;
}

.register > *{
	margin-left: 0.7143rem;
}

.login {
	width: 2rem;
}

.fa-bars {
	color: #fdc7c3;
}

.btn-warning {
	padding: 0.2rem 0.4rem;
	font-size: 0.8571rem;
	/* font-family: "roboto condensed" "sans-serif"; */
}

/* main/content */

.main {
	/* padding: 1.4286rem 1.0714rem 0 1.0714rem; */
	padding: 1.4286rem 0 0 0;
}

/* .logo-img {
  width: 395px;
  height: auto;
}

.logo-img-2 {
  width: 132px;
} */

/* .img-thumbnail {
  width: 63px;
}

.debate-section a {
  color: black;
  font-size: 1.2rem;
  font-weight: bold;
} */


@media screen and (min-width: 768px) {
	.main {
		/* padding: 1.4286rem 0 0 0; */
	}
}

@media screen and (min-width: 992px) {
	.main {
		padding: 1.4286rem 1.0714rem 0 1.0714rem;
	}
}