/*** Project Meta ***/

/* general - line __ */

/* header - line __ */

/* main content - line __ */

/* footer - line __ */

/** GENERAL **/

.html {
	font-family: ARS Maquette, Helvetica Neue, Arial, sans-serif;
  font-size: 87.5%;
	scroll-behavior: smooth;
}

.reset * {
  margin: 0;
  padding: 0;
  border: 0;
}

.body {
  background-color: #f4f5f6;
}

.content {
	max-width: 1310px;
}

.offscreen {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* Mobile View */

/* header */

.header1 {
	background-color: #f72210;
	padding: 0.8rem;
}

.header-bottom {
	height: 36px;
	white-space: nowrap;
}

.nlogo {
	width: 131.87px;
}

.location {
	font-size: 0.8571rem;
}

.weather-icon {
	width: 1.5714rem;
}

.register > *{
	margin-left: 0.6rem;
}

.login-text {
	font-size: 16px;
	vertical-align: middle;
}

.login {
	width: 2rem;
}

.btn-warning {
	padding: 0.2rem 0.4rem;
	font-size: 0.8571rem;
	background-color: #ffe400;
}

.menu-icon {
	width: 1.2857rem;
}

.form-inline input {
	width: 60px;
}

/* main/content */

.main {
	padding: 1.4286rem 0 0 0;
}

.logo-img {
  width: 395px;
  height: auto;
}

.logo-img-2 {
  width: 132px;
}

.img-width {
  width: 1.0714rem;
}

.debate a,
.opinion a {
  color: black;
  font-size: 1rem;
  font-weight: bold;
}

.font-size-heading {
	font-size: 1.1rem;
}

.versus {
	top: -15px;
	left: 47%;
}

.horizontal-rule {
	padding-bottom: 2px;
}

.grid {
	display: grid;
	grid-auto-rows: auto;
	gap: 1.4286rem;
}

.card {
	width: 100%;
}

.form-img {
	background-color: #f72210;
	width: 29px;
	height: 29px;
}

.form .form-input[placeholder ='Email Address'] {
	padding-left: 10px;
}

.form-button {
	background-color: #f72210;
}

/* -------ANA------ */

.span-img {
	width: 30px;
}

.magazine-img {
	height: 90%;
	width: 100%;
}

.img-category {
	min-height: 70%;
	height: auto;
	width: 100%;
}

.img-category2 {
	height: auto;
	width: 100%;
}

.category > * {
	font-size: 1rem;
}

.lead {
	font-size: 1rem;
}

.image-pick {
	width: 100%;
}

/* .image-col {
	max-width: 70%;
	height: auto;
} */

.list-pics {
	float: right;
	width: 68%;
}

.subscribe-pic {
	position: relative;
	/* width: 65%; */
	padding-left: 1rem;
}

.pic2 {
	position: absolute;
	top: 0.4286rem;
	left: 1.7857rem;
}

.indepth-news {
	padding-left: 5rem;
}

.starting {
	background: url(https://d.newsweek.com/en/full/1541302/starting5-homepage.png?w=397&h=265&q=90&f=742bce9a6f72dd8f19ba2e7fd5db06e5) center center / cover no-repeat;
	height: 188px;
}

footer {
	background-color: white;
}

footer ul {
	white-space: nowrap;
}

@media screen and (max-width: 767px) {
	.form {
		width: 100%;
		max-width: 300px;
		margin: 0 auto;
	}

	.indepth-news {
		text-align: center;
		padding-left: 0;
	}

	.subscribe-pic {
		/* position: relative; */
		width: 40%;
		/* width: 100%; */
		margin: 0 auto 1rem auto;
		padding-left: 0;
	}
	
	.indepth-news {
		padding: 0;
	}

	/* .starting {
		height: 100%;
	} */
}

@media screen and (min-width: 768px) {
	.header1 {
		/* background-color: #f72210; */
		padding: 0.7rem;
	}

	.login {
		/* width: 4rem; */
	}
	
	.btn-warning {
		padding: 0.2rem 0.5rem;
		font-size: 1.2rem
		/* background-color: #ffe400; */
	}
	
	.fa-bars {
		/* color: #fdc7c3; */
		font-size: 50%;
	}

	.menu-icon {
		width: 30px;
	}

	.grid {
		grid-template-columns: repeat(3, 1fr);
	}

	.more-featured-stories {
		width: 45%;
	}

	.img-col {
		width: 125px;
		height: auto;
	}

	.starting,
	.start-log {
		width: 50%;
		min-height: 270px;
		height: auto;
	}

	.form {
		width: 90%;
	}
}

@media screen and (min-width: 992px) {
	.nlogo {
		width: 390px;
	}
	
	.main {
		padding: 1.4286rem 1.0714rem 0 1.0714rem;
		top: 0;
	}

	.more-featured-stories {
		width: 100%;
	}

	.form {
		width: 100%;
	}

	.form,
	.form-title {
		font-size: 1.1rem;
	}

	.subscribe-newsletter .subscribe {
		width: 60%;
	}
	
	.subscribe-newsletter .newsletter {
		width: 40%;
	}
}
